body {
  margin: 20px;
  font-family: "Merriweather", serif;
}

h4 {
  display: inline-block;
}

ul {
  list-style-type: none;
}

.quotes {
  margin: 10 auto;
  text-align: left;
}

.italic {
  font-style: italic;
}
